
//Consider removing Foundation and applying CSS Grid. Could be a fun
//exercise

$font: 'Raleway', sans-serif;
$bg: #00ABE7;
$blerk: #2a2b2d;
$red: #FF5964;



body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: $bg;
    font-family: $font;

    h1 {
       grid-column-end: span 3;
        text-align: center;
        color: $red;
        font-size: 4em;
        text-shadow: 5px 0 0 white, 0 -5px 0 white, 0 5px 0 white, -5px 0 0 white, -5px -5px 0 white, 5px 5px 0 white;
        margin-bottom: 0;
    }

    section {
        grid-column-end: span 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .75fr;

        ul {
            list-style: none;
            text-align: center;

            li {
                border: 10px solid $red;
                background-color: white;
                border-radius: 35px;
                margin: 25px;
                font-size: 1.75em;
                color: #2a2b2d;

                p {
                    min-height: 67px;
                }

                // img {
                //     border: 1px solid white;
                // }

                div {
                    padding-bottom: 1%;
                }

            }
        }
    }
}