body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #00ABE7;
  font-family: "Raleway", sans-serif; }
  body h1 {
    grid-column-end: span 3;
    text-align: center;
    color: #FF5964;
    font-size: 4em;
    text-shadow: 5px 0 0 white, 0 -5px 0 white, 0 5px 0 white, -5px 0 0 white, -5px -5px 0 white, 5px 5px 0 white;
    margin-bottom: 0; }
  body section {
    grid-column-end: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .75fr; }
    body section ul {
      list-style: none;
      text-align: center; }
      body section ul li {
        border: 10px solid #FF5964;
        background-color: white;
        border-radius: 35px;
        margin: 25px;
        font-size: 1.75em;
        color: #2a2b2d; }
        body section ul li p {
          min-height: 67px; }
        body section ul li div {
          padding-bottom: 1%; }
